@import "./vars.scss";

#home {
  color: var(--color-white);
  position: relative;
  padding: 0 50px;

  @include breakpoint($bp-xxSmall) {
    padding: 0 20px;
  }

  .intro,
  .content {
    position: relative;
  }

  .animatedIn span {
    display: inline-block;
  }

  .intro {
    margin: 75px 0 140px;

    @include breakpoint($bp-xxSmall) {
      margin: 50px 0 75px;
    }
    h1,
    h2 {
      font-family: var(--font-neutral), "Open Sans", "Helvetica Neue",
        sans-serif;
      color: var(--color-grey);
      text-transform: uppercase;
    }

    h1#title {
      font-size: 181px;
      line-height: 1.2;
      text-align: center;
      // width: 100%;

      @include breakpoint($bp-xxSmall) {
        margin-bottom: 15px;
      }

      .title__fragments {
        display: inline-block;
        will-change: translate;
        transform: translate3d(0, 100vh, 0);

        &:nth-child(6) {
          width: 60px;
          @include breakpoint($bp-xxSmall) {
            width: 10px;
          }
        }
      }
    }

    h2 {
      font-size: 54px;
      line-height: 1.13;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;

      .subtitle__fragments {
        display: inline-block;
        will-change: translate;
        // transform: translate3d(-30px, 0, 0);
        &:nth-child(6) {
          margin-right: 25px;
          @include breakpoint($bp-xxSmall) {
            width: 8px;
          }
        }
      }

      @include breakpoint($bp-xxSmall) {
        font-size: 30px;
      }
    }
  }

  .content {
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 1fr minmax(300px, 730px);
    // grid-template-rows: repeat(auto-fill, 260px);

    &__block {
      grid-column: 2;
      margin-bottom: 75px;

      &.about {
        grid-column: 2;
        max-width: 600px;
        margin-bottom: 100px;
      }

      h3 {
        font-family: var(--font-neutral);
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 1.1;
        margin-bottom: 30px;
        overflow: hidden;
        will-change: translate;
        // padding: 1px;
        @include breakpoint($bp-xxSmall) {
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
      }
      li {
        list-style-type: none;
        position: relative;
        overflow: hidden;
        @include breakpoint($bp-xxSmall) {
          margin-bottom: 5px;
        }

        span {
          padding-left: 25px;
          will-change: translate;
        }

        &:hover {
          a:after {
            left: 0;
            width: 100%;
            right: auto;
          }
          svg {
            path {
              transition-property: stroke-dashoffset;
              transition-duration: 500ms;
              transition-timing-function: cubic-bezier(0.3, 0.63, 0.42, 0.96);
            }

            path.main {
              stroke-dashoffset: calc(-580px * 2);
            }
            path.edge {
              stroke-dashoffset: calc(-328px * 2);
            }
          }
        }

        i {
          display: inline-block;
          width: 12px;
          height: 12px;

          position: absolute;
          bottom: 10px;
          left: 0;

          svg {
            width: 100%;
            height: 100%;
            opacity: 0.8;

            path {
              stroke: var(--color-white);
              // transition-property: stroke-dashoffset;
              // transition-duration: 750ms;
              // transition-timing-function: cubic-bezier(0.3, 0.63, 0.42, 0.96);

              &.edge {
                stroke-dasharray: 328px 328px;
                stroke-dashoffset: 0px;
              }

              &.main {
                stroke-dasharray: 580px 580px;

                stroke-dashoffset: 0px;
                transition-delay: 50ms;
              }
            }
          }
        }
        a {
          font-family: var(--font-open-sans);
          font-weight: 300;
          color: inherit;
          font-size: 2.2rem;
          line-height: 1.8;
          text-decoration: none;
          display: inline-block;

          position: relative;
          &:after {
            position: absolute;
            width: 0;
            height: 1.5px;
            background-color: var(--color-white);
            right: 0;
            content: "";
            bottom: 0;
            transition-property: width;
            transition-duration: 475ms;
            transition-timing-function: cubic-bezier(0.37, 0.78, 0.5, 0.97);
          }

          // &:hover:after {
          //   left: 0;
          //   width: 100%;
          //   right: auto;
          // }
        }
      }
    }

    .about {
      font-size: 2.2rem;
      line-height: 1.5;
      font-weight: 300;

      .animatedIn {
        overflow: hidden;
        span {
          display: inline-block;
        }
      }
    }

    .live-since {
      grid-column: 1 / span 2;
      font-size: 1.8rem;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 1px;
      overflow: hidden;
      font-family: var(--font-neutral);

      @include breakpoint($bp-xxSmall) {
        text-align: center;
      }
    }
  }
}

.p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
