// @Colors - $color-${color_name}__${color_variation}

// @Easing - $easing-${easing_name}
//

$easing-default: cubic-bezier(0.19, 1, 0.22, 1);

// @Mixins

@mixin breakpoint($point) {
  @if $point == $bp-large {
    @media only screen and (max-width: $bp-large) {
      @content;
    }
  }
  @if $point == $bp-medium {
    @media only screen and (max-width: $bp-medium) {
      @content;
    }
  }
  @if $point == $bp-small {
    @media only screen and (max-width: $bp-small) {
      @content;
    }
  }
  @if $point == $bp-xSmall {
    @media only screen and (max-width: $bp-xSmall) {
      @content;
    }
  }
  @if $point == $bp-xxSmall {
    @media only screen and (max-width: $bp-xxSmall) {
      @content;
    }
  }
  @if $point == $bp-mobile {
    @media only screen and (max-width: $bp-mobile) {
      @content;
    }
  }
  @if $point == mobilePortrait {
    @media only screen and (max-width: $bp-xSmall) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $point) {
      @content;
    }
  }
}

// @Breakpoint $bp-${breakpoint_value}
//

$bp-Xlarge: 1351px;
$bp-large: 1350px;
$bp-medium: 1280px;
$bp-small: 1024px;
$bp-xSmall: 768px;
$bp-xxSmall: 650px;
$bp-mobile: 760px;

// @Fonts - $font-${font_name}
//

// @Text - $text-${text_style}
